-- MySQL dump 10.13  Distrib 5.7.32, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: smart_cabinet
-- ------------------------------------------------------
-- Server version	5.7.32-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_borrow_overflow`
--

DROP TABLE IF EXISTS `_borrow_overflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_borrow_overflow` (
  `tool_id` int(11) NOT NULL DEFAULT '0' COMMENT '工具主键ID',
  `tool_code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工具编号，如JZ01-CDQ(班组ID-规格缩写)',
  `tool_name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工具名称',
  `total_qty` int(11) NOT NULL DEFAULT '0' COMMENT '总数量',
  `total_borrowed` decimal(32,0) DEFAULT NULL,
  `overflow_qty` decimal(33,0) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_borrow_overflow`
--

LOCK TABLES `_borrow_overflow` WRITE;
/*!40000 ALTER TABLE `_borrow_overflow` DISABLE KEYS */;
INSERT INTO `_borrow_overflow` VALUES (1,'JZ01-CDQ','充电式电动解锥',4,5,1),(16,'JZ02-HQ','焊枪',3,4,1),(19,'JZ02-CL','游标卡尺',3,4,1);
/*!40000 ALTER TABLE `_borrow_overflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cabinet_snapshot`
--

DROP TABLE IF EXISTS `cabinet_snapshot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cabinet_snapshot` (
  `snapshot_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '快照主键ID',
  `cabinet_id` int(11) NOT NULL COMMENT '柜体ID',
  `snapshot_data` json NOT NULL COMMENT '快照数据(JSON格式，含柜内所有工具状态)',
  `snap_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '快照时间',
  `operator_id` int(11) DEFAULT NULL COMMENT '操作人ID',
  PRIMARY KEY (`snapshot_id`),
  KEY `idx_cabinet` (`cabinet_id`),
  KEY `idx_time` (`snap_time`),
  CONSTRAINT `fk_snapshot_cabinet` FOREIGN KEY (`cabinet_id`) REFERENCES `tool_cabinet` (`cabinet_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具柜状态快照表 - 定时盘点数据';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cabinet_snapshot`
--

LOCK TABLES `cabinet_snapshot` WRITE;
/*!40000 ALTER TABLE `cabinet_snapshot` DISABLE KEYS */;
/*!40000 ALTER TABLE `cabinet_snapshot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `face_recog_log`
--

DROP TABLE IF EXISTS `face_recog_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `face_recog_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `result` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `best_sim` double DEFAULT '0',
  `best_dist` double DEFAULT '1',
  `threshold` double DEFAULT '0',
  `mode` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `candidate_cnt` int(11) DEFAULT '0',
  `elapsed_ms` int(11) DEFAULT '0',
  `matched_user` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `idx_result` (`result`),
  KEY `idx_time` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=115 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='人脸识别识别统计日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `face_recog_log`
--

LOCK TABLES `face_recog_log` WRITE;
/*!40000 ALTER TABLE `face_recog_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `face_recog_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machine_group`
--

DROP TABLE IF EXISTS `machine_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `machine_group` (
  `group_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '机组ID',
  `group_name` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '机组名称',
  `dept_id` int(11) DEFAULT NULL COMMENT '所属部门ID',
  `leader_name` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '负责人姓名',
  `leader_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '负责人电话',
  `description` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '机组描述',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'active' COMMENT 'active|inactive',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`group_id`),
  UNIQUE KEY `uk_group_name` (`group_name`),
  KEY `idx_dept` (`dept_id`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_mg_dept` FOREIGN KEY (`dept_id`) REFERENCES `sys_department` (`dept_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工程机组表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_group`
--

LOCK TABLES `machine_group` WRITE;
/*!40000 ALTER TABLE `machine_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_alert`
--

DROP TABLE IF EXISTS `sys_alert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_alert` (
  `alert_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '告警主键ID',
  `type_id` int(11) DEFAULT NULL,
  `alert_type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '告警类型：overdue_return逾期未还/wrong_position位置异常/timeout超时/rfid_error标签异常/low_stock库存不足等',
  `alert_level` varchar(8) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'warn' COMMENT '告警级别：info提示 warn警告 err严重',
  `tool_id` int(11) DEFAULT NULL COMMENT '关联工具ID',
  `tool_code` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '工具编号冗余字段',
  `content` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '告警内容描述',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'unhandled' COMMENT '状态：unhandled未处理 handled已处理',
  `user_id` int(11) DEFAULT NULL COMMENT '借用人ID [V1.00.8]',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '告警时间',
  `handled_at` datetime DEFAULT NULL COMMENT '处理时间',
  `handler_id` int(11) DEFAULT NULL COMMENT '处理人ID',
  `remark` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '处理备注',
  `record_id` int(11) DEFAULT '0',
  PRIMARY KEY (`alert_id`),
  KEY `idx_type` (`alert_type`),
  KEY `idx_level` (`alert_level`),
  KEY `idx_status` (`status`),
  KEY `idx_time` (`created_at`),
  KEY `idx_tool` (`tool_id`),
  KEY `fk_alert_handler` (`handler_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_type_id` (`type_id`),
  CONSTRAINT `fk_alert_handler` FOREIGN KEY (`handler_id`) REFERENCES `sys_user` (`user_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_alert_tool` FOREIGN KEY (`tool_id`) REFERENCES `tool_info` (`tool_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_alert_user` FOREIGN KEY (`user_id`) REFERENCES `sys_user` (`user_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='系统告警表 - 异常事件管理';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_alert`
--

LOCK TABLES `sys_alert` WRITE;
/*!40000 ALTER TABLE `sys_alert` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_alert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_alert_type`
--

DROP TABLE IF EXISTS `sys_alert_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_alert_type` (
  `type_id` int(11) NOT NULL AUTO_INCREMENT,
  `type_code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '类型编码',
  `type_name` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '类型显示名',
  `alert_level` varchar(8) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'warn' COMMENT '默认级别:info|warn|error',
  `sort_order` int(11) NOT NULL DEFAULT '0' COMMENT '排序',
  `is_active` tinyint(4) NOT NULL DEFAULT '1' COMMENT '1=启用 0=禁用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`type_id`),
  UNIQUE KEY `uk_type_code` (`type_code`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='告警类型字典表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_alert_type`
--

LOCK TABLES `sys_alert_type` WRITE;
/*!40000 ALTER TABLE `sys_alert_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_alert_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_department`
--

DROP TABLE IF EXISTS `sys_department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_department` (
  `dept_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '部门主键ID',
  `dept_name` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '部门名称',
  `parent_id` int(11) DEFAULT '0' COMMENT '上级部门ID，0表示顶级',
  `sort_order` int(11) DEFAULT '0' COMMENT '排序权重，越小越靠前',
  `status` tinyint(4) DEFAULT '1' COMMENT '状态：1启用 0禁用',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`dept_id`),
  KEY `idx_parent` (`parent_id`),
  KEY `idx_sort` (`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='部门组织架构表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_department`
--

LOCK TABLES `sys_department` WRITE;
/*!40000 ALTER TABLE `sys_department` DISABLE KEYS */;
INSERT INTO `sys_department` VALUES (1,'技术部',0,1,1,'2026-06-03 10:46:32','2026-06-03 10:46:32'),(2,'维修一组',0,2,1,'2026-06-03 10:46:32','2026-06-03 10:46:32'),(3,'维修二组',0,3,1,'2026-06-03 10:46:32','2026-06-03 10:46:32'),(4,'维修三组',0,4,1,'2026-06-03 10:46:32','2026-06-03 10:46:32'),(5,'质检部',0,5,1,'2026-06-03 10:46:32','2026-06-03 10:46:32');
/*!40000 ALTER TABLE `sys_department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_operation_log`
--

DROP TABLE IF EXISTS `sys_operation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_operation_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '日志主键ID',
  `user_id` int(11) DEFAULT NULL COMMENT '操作人ID',
  `username` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '操作人用户名冗余',
  `operation_type` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '操作类型：login/logout/borrow/return/checkin/checkout/create_user/update_user/delete_user等',
  `target_type` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '操作目标类型：user/tool/record等',
  `target_id` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '操作目标ID',
  `content` text COLLATE utf8mb4_unicode_ci COMMENT '操作详情(JSON格式，记录完整操作参数与结果)',
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '操作来源IP',
  `result` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'success' COMMENT '操作结果：success成功 fail失败',
  `error_msg` text COLLATE utf8mb4_unicode_ci COMMENT '失败时的错误信息',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '操作时间',
  PRIMARY KEY (`log_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_type` (`operation_type`),
  KEY `idx_time` (`created_at`),
  KEY `idx_target` (`target_type`,`target_id`)
) ENGINE=InnoDB AUTO_INCREMENT=730 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='系统操作日志表 - 审计追踪不可篡改';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_operation_log`
--

LOCK TABLES `sys_operation_log` WRITE;
/*!40000 ALTER TABLE `sys_operation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_operation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sys_user` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '用户主键ID',
  `username` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '登录用户名/工号',
  `password_hash` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '密码哈希值(SHA256+salt)，绝不明文存储',
  `password_salt` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '密码盐值，每个用户独立生成',
  `real_name` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '真实姓名',
  `work_no` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工号，如CF002',
  `dept_id` int(11) DEFAULT NULL COMMENT '所属部门ID，关联sys_department',
  `department` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '部门名称冗余字段，减少join查询',
  `role` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user' COMMENT '角色：admin管理员 user普通用户',
  `face_feature` text COLLATE utf8mb4_unicode_ci COMMENT '人脸特征数据(base64编码)，NULL表示未录入',
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '联系电话',
  `email` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '电子邮箱',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'active' COMMENT '状态：active启用 inactive禁用 pending待激活',
  `last_login_at` datetime DEFAULT NULL COMMENT '最后登录时间',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uk_username` (`username`),
  UNIQUE KEY `uk_work_no` (`work_no`),
  KEY `idx_dept` (`dept_id`),
  KEY `idx_role` (`role`),
  KEY `idx_status` (`status`),
  CONSTRAINT `fk_user_dept` FOREIGN KEY (`dept_id`) REFERENCES `sys_department` (`dept_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='系统用户表 - 含密码安全存储与权限控制';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_config`
--

DROP TABLE IF EXISTS `system_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_config` (
  `config_key` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `config_value` text COLLATE utf8mb4_unicode_ci,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_config`
--

LOCK TABLES `system_config` WRITE;
/*!40000 ALTER TABLE `system_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_type`
--

DROP TABLE IF EXISTS `task_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `task_type` (
  `type_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '任务类型ID',
  `type_code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '类型编码',
  `type_name` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '类型名称',
  `description` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '类型描述',
  `sort_order` int(11) NOT NULL DEFAULT '0' COMMENT '排序(越小越前)',
  `is_active` tinyint(4) NOT NULL DEFAULT '1' COMMENT '1=启用 0=禁用',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `default_duration` int(11) DEFAULT '30',
  PRIMARY KEY (`type_id`),
  UNIQUE KEY `uk_type_code` (`type_code`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='飞机维修任务类型表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_type`
--

LOCK TABLES `task_type` WRITE;
/*!40000 ALTER TABLE `task_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `task_type_tool`
--

DROP TABLE IF EXISTS `task_type_tool`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `task_type_tool` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type_id` int(11) NOT NULL COMMENT '任务类型ID',
  `tool_id` int(11) NOT NULL COMMENT '工具ID',
  `sort_order` int(11) NOT NULL DEFAULT '0' COMMENT '推荐排序',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `recommended_qty` int(11) NOT NULL DEFAULT '1' COMMENT '推荐借用数量',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_type_tool` (`type_id`,`tool_id`),
  KEY `idx_type_id` (`type_id`),
  KEY `idx_tool_id` (`tool_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8627 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='任务类型-工具推荐关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `task_type_tool`
--

LOCK TABLES `task_type_tool` WRITE;
/*!40000 ALTER TABLE `task_type_tool` DISABLE KEYS */;
/*!40000 ALTER TABLE `task_type_tool` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_borrow_record`
--

DROP TABLE IF EXISTS `tool_borrow_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_borrow_record` (
  `record_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '借用记录主键ID',
  `flow_no` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '任务流水号，格式JH-MMDD-原因HHmm',
  `user_id` int(11) NOT NULL COMMENT '借用人ID，关联sys_user',
  `tool_id` int(11) NOT NULL COMMENT '工具ID，关联tool_info',
  `borrow_qty` int(11) NOT NULL DEFAULT '1' COMMENT '借用数量',
  `borrow_reason` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '' COMMENT '借用原因：发动机维护/航电检修/日常巡检等',
  `borrow_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '借用时间',
  `expected_return_time` datetime DEFAULT NULL COMMENT '预计归还时间',
  `actual_return_time` datetime DEFAULT NULL COMMENT '实际归还时间',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'borrowing' COMMENT '状态：borrowing借用中 returned已归还 overdue逾期',
  `operator_id` int(11) DEFAULT NULL COMMENT '操作人ID（管理员代操作时）',
  `remark` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '备注',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `mapping_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`record_id`),
  UNIQUE KEY `uk_flow_no` (`flow_no`),
  KEY `idx_user` (`user_id`),
  KEY `idx_tool` (`tool_id`),
  KEY `idx_status` (`status`),
  KEY `idx_borrow_time` (`borrow_time`),
  KEY `idx_mapping_id` (`mapping_id`),
  CONSTRAINT `fk_borrow_tool` FOREIGN KEY (`tool_id`) REFERENCES `tool_info` (`tool_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_borrow_user` FOREIGN KEY (`user_id`) REFERENCES `sys_user` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具借用记录表 - 追踪每次借用全生命周期';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_borrow_record`
--

LOCK TABLES `tool_borrow_record` WRITE;
/*!40000 ALTER TABLE `tool_borrow_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_borrow_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_cabinet`
--

DROP TABLE IF EXISTS `tool_cabinet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_cabinet` (
  `cabinet_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '工具柜主键ID',
  `cabinet_name` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '柜体名称，如"A柜"、"B柜"',
  `cabinet_code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '柜体编码，如CAB-A01',
  `location` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '存放位置描述',
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '设备IP地址',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'online' COMMENT '状态：online在线 offline离线 error故障',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`cabinet_id`),
  UNIQUE KEY `uk_code` (`cabinet_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具柜物理设备表 - 与硬件实体一一对应';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_cabinet`
--

LOCK TABLES `tool_cabinet` WRITE;
/*!40000 ALTER TABLE `tool_cabinet` DISABLE KEYS */;
INSERT INTO `tool_cabinet` VALUES (1,'A柜','CAB-A01','维修车间东侧','192.168.1.101','online','2026-06-03 10:46:32'),(2,'B柜','CAB-B01','维修车间西侧','192.168.1.102','online','2026-06-03 10:46:32'),(3,'C柜','CAB-C01','备件仓库','192.168.1.103','online','2026-06-03 10:46:32');
/*!40000 ALTER TABLE `tool_cabinet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_category`
--

DROP TABLE IF EXISTS `tool_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_category` (
  `category_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '分类主键ID',
  `category_name` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '分类名称，如"电动工具"、"手动工具"',
  `parent_id` int(11) DEFAULT '0' COMMENT '上级分类ID，0为顶级分类',
  `sort_order` int(11) DEFAULT '0' COMMENT '排序权重',
  `icon` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '分类图标(emoji或icon名)',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`category_id`),
  KEY `idx_parent` (`parent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具分类表 - 树形层级结构';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_category`
--

LOCK TABLES `tool_category` WRITE;
/*!40000 ALTER TABLE `tool_category` DISABLE KEYS */;
INSERT INTO `tool_category` VALUES (1,'电动工具',0,1,'?','2026-06-03 10:46:32'),(2,'手动工具',0,2,'?','2026-06-03 10:46:32'),(3,'测量工具',0,3,'?','2026-06-03 10:46:32'),(4,'焊接工具',0,4,'?','2026-06-03 10:46:32'),(5,'照明工具',0,5,'?','2026-06-03 10:46:32'),(6,'紧固工具',1,1,'?','2026-06-03 10:46:32'),(7,'切割工具',2,1,'✂️','2026-06-03 10:46:32');
/*!40000 ALTER TABLE `tool_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_checkin_record`
--

DROP TABLE IF EXISTS `tool_checkin_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_checkin_record` (
  `record_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '入库记录主键ID',
  `tool_id` int(11) NOT NULL COMMENT '工具ID（新增工具时可为NULL，表示全新录入）',
  `tool_code` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '工具编号（新增工具时必填）',
  `tool_name` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '工具名称',
  `checkin_qty` int(11) NOT NULL DEFAULT '1' COMMENT '入库数量',
  `supplier` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '供应商',
  `checkin_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '入库时间',
  `operator_id` int(11) NOT NULL COMMENT '操作管理员ID',
  `cabinet_id` int(11) DEFAULT NULL COMMENT '入库柜体ID',
  `remark` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '备注',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`record_id`),
  KEY `idx_tool` (`tool_id`),
  KEY `idx_operator` (`operator_id`),
  KEY `idx_time` (`checkin_time`),
  CONSTRAINT `fk_checkin_operator` FOREIGN KEY (`operator_id`) REFERENCES `sys_user` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具入库记录表 - 新增/补货追踪';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_checkin_record`
--

LOCK TABLES `tool_checkin_record` WRITE;
/*!40000 ALTER TABLE `tool_checkin_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_checkin_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_checkout_record`
--

DROP TABLE IF EXISTS `tool_checkout_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_checkout_record` (
  `record_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '出库记录主键ID',
  `tool_id` int(11) NOT NULL COMMENT '工具ID',
  `user_id` int(11) DEFAULT NULL COMMENT '执行出库的用户ID',
  `checkout_qty` int(11) NOT NULL DEFAULT '1' COMMENT '出库数量',
  `checkout_reason` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '出库原因：报废更换/损坏退役/调拨其他机组/升级替换/借出未还',
  `checkout_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '出库时间',
  `operator_id` int(11) NOT NULL COMMENT '操作管理员ID',
  `remark` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '备注',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`record_id`),
  KEY `idx_tool` (`tool_id`),
  KEY `idx_operator` (`operator_id`),
  KEY `idx_time` (`checkout_time`),
  CONSTRAINT `fk_checkout_operator` FOREIGN KEY (`operator_id`) REFERENCES `sys_user` (`user_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_checkout_tool` FOREIGN KEY (`tool_id`) REFERENCES `tool_info` (`tool_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具出库记录表 - 永久移除追踪';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_checkout_record`
--

LOCK TABLES `tool_checkout_record` WRITE;
/*!40000 ALTER TABLE `tool_checkout_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_checkout_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_info`
--

DROP TABLE IF EXISTS `tool_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_info` (
  `tool_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '工具主键ID',
  `tool_code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工具编号，如JZ01-CDQ(班组ID-规格缩写)',
  `tool_name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工具名称',
  `spec` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '规格型号',
  `category_id` int(11) DEFAULT NULL COMMENT '分类ID，关联tool_category',
  `cabinet_id` int(11) DEFAULT NULL COMMENT '所属柜体ID，关联tool_cabinet',
  `machine_group_id` int(11) DEFAULT NULL COMMENT '所属机组ID',
  `layer` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '所在层号',
  `position` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '具体位置',
  `total_qty` int(11) NOT NULL DEFAULT '0' COMMENT '总数量',
  `current_qty` int(11) NOT NULL DEFAULT '0' COMMENT '当前在库数量，借用时扣减/归还时增加',
  `unit` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT '件',
  `supplier` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '供应商',
  `vision_tag` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'in_stock' COMMENT '状态：in_stock在库 borrowed借出 maintenance维修中',
  `checkout_reason` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '最近出库原因',
  `is_recommended` tinyint(4) DEFAULT '0' COMMENT '是否推荐工具：1是 0否',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `recognition_method` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'vision',
  `document_path` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT '',
  PRIMARY KEY (`tool_id`),
  UNIQUE KEY `uk_tool_code` (`tool_code`),
  KEY `idx_category` (`category_id`),
  KEY `idx_cabinet` (`cabinet_id`),
  KEY `idx_status` (`status`),
  KEY `idx_rfid` (`vision_tag`),
  KEY `idx_machine_group` (`machine_group_id`),
  CONSTRAINT `fk_tool_cabinet` FOREIGN KEY (`cabinet_id`) REFERENCES `tool_cabinet` (`cabinet_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tool_category` FOREIGN KEY (`category_id`) REFERENCES `tool_category` (`category_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_tool_machine_group` FOREIGN KEY (`machine_group_id`) REFERENCES `machine_group` (`group_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='工具信息表 - 核心资产管理';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_info`
--

LOCK TABLES `tool_info` WRITE;
/*!40000 ALTER TABLE `tool_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_info_bak_20260924`
--

DROP TABLE IF EXISTS `tool_info_bak_20260924`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_info_bak_20260924` (
  `tool_id` int(11) NOT NULL DEFAULT '0' COMMENT '工具主键ID',
  `tool_code` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工具编号，如JZ01-CDQ(班组ID-规格缩写)',
  `tool_name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '工具名称',
  `spec` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '规格型号',
  `category_id` int(11) DEFAULT NULL COMMENT '分类ID，关联tool_category',
  `cabinet_id` int(11) DEFAULT NULL COMMENT '所属柜体ID，关联tool_cabinet',
  `machine_group_id` int(11) DEFAULT NULL COMMENT '所属机组ID',
  `layer` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '所在层号',
  `position` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '具体位置',
  `total_qty` int(11) NOT NULL DEFAULT '0' COMMENT '总数量',
  `current_qty` int(11) NOT NULL DEFAULT '0' COMMENT '当前在库数量，借用时扣减/归还时增加',
  `unit` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT '件',
  `supplier` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '供应商',
  `rfid_tag` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'RFID标签编号',
  `status` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'in_stock' COMMENT '状态：in_stock在库 borrowed借出 maintenance维修中',
  `checkout_reason` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '最近出库原因',
  `is_recommended` tinyint(4) DEFAULT '0' COMMENT '是否推荐工具：1是 0否',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `recognition_method` varchar(16) COLLATE utf8mb4_unicode_ci DEFAULT 'rfid',
  `document_path` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT ''
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_info_bak_20260924`
--

LOCK TABLES `tool_info_bak_20260924` WRITE;
/*!40000 ALTER TABLE `tool_info_bak_20260924` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_info_bak_20260924` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tool_position_mapping`
--

DROP TABLE IF EXISTS `tool_position_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tool_position_mapping` (
  `mapping_id` int(11) NOT NULL AUTO_INCREMENT,
  `tool_id` int(11) NOT NULL,
  `cabinet_id` int(11) NOT NULL,
  `layer` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `position` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(16) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  PRIMARY KEY (`mapping_id`),
  UNIQUE KEY `cabinet_id` (`cabinet_id`,`layer`,`position`),
  KEY `tool_id` (`tool_id`),
  CONSTRAINT `tool_position_mapping_ibfk_1` FOREIGN KEY (`tool_id`) REFERENCES `tool_info` (`tool_id`),
  CONSTRAINT `tool_position_mapping_ibfk_2` FOREIGN KEY (`cabinet_id`) REFERENCES `tool_cabinet` (`cabinet_id`)
) ENGINE=InnoDB AUTO_INCREMENT=212 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tool_position_mapping`
--

LOCK TABLES `tool_position_mapping` WRITE;
/*!40000 ALTER TABLE `tool_position_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `tool_position_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_borrowing_tools`
--

DROP TABLE IF EXISTS `v_borrowing_tools`;
/*!50001 DROP VIEW IF EXISTS `v_borrowing_tools`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_borrowing_tools` AS SELECT 
 1 AS `record_id`,
 1 AS `flow_no`,
 1 AS `borrow_time`,
 1 AS `borrow_qty`,
 1 AS `borrow_reason`,
 1 AS `status`,
 1 AS `borrower_name`,
 1 AS `borrower_work_no`,
 1 AS `department`,
 1 AS `tool_code`,
 1 AS `tool_name`,
 1 AS `spec`,
 1 AS `cabinet_id`,
 1 AS `cabinet_name`,
 1 AS `position_desc`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_dashboard_stats`
--

DROP TABLE IF EXISTS `v_dashboard_stats`;
/*!50001 DROP VIEW IF EXISTS `v_dashboard_stats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_dashboard_stats` AS SELECT 
 1 AS `total_tools`,
 1 AS `in_stock_qty`,
 1 AS `borrowing_count`,
 1 AS `unhandled_alerts`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_tool_latest_operation`
--

DROP TABLE IF EXISTS `v_tool_latest_operation`;
/*!50001 DROP VIEW IF EXISTS `v_tool_latest_operation`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_tool_latest_operation` AS SELECT 
 1 AS `tool_id`,
 1 AS `latest_op_time`,
 1 AS `latest_op_type`,
 1 AS `latest_op_user`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_tool_stats`
--

DROP TABLE IF EXISTS `v_tool_stats`;
/*!50001 DROP VIEW IF EXISTS `v_tool_stats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_tool_stats` AS SELECT 
 1 AS `total_tools`,
 1 AS `in_stock_count`,
 1 AS `borrowed_count`,
 1 AS `maintenance_count`,
 1 AS `total_qty`,
 1 AS `in_stock_qty`,
 1 AS `borrowed_qty`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping events for database 'smart_cabinet'
--

--
-- Dumping routines for database 'smart_cabinet'
--

--
-- Final view structure for view `v_borrowing_tools`
--

/*!50001 DROP VIEW IF EXISTS `v_borrowing_tools`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_borrowing_tools` AS select `br`.`record_id` AS `record_id`,`br`.`flow_no` AS `flow_no`,`br`.`borrow_time` AS `borrow_time`,`br`.`borrow_qty` AS `borrow_qty`,`br`.`borrow_reason` AS `borrow_reason`,`br`.`status` AS `status`,`u`.`real_name` AS `borrower_name`,`u`.`work_no` AS `borrower_work_no`,`u`.`department` AS `department`,`ti`.`tool_code` AS `tool_code`,`ti`.`tool_name` AS `tool_name`,`ti`.`spec` AS `spec`,`ti`.`cabinet_id` AS `cabinet_id`,`tc`.`cabinet_name` AS `cabinet_name`,concat(`tc`.`cabinet_name`,'-',`ti`.`layer`,'层-',`ti`.`position`) AS `position_desc` from (((`tool_borrow_record` `br` join `sys_user` `u` on((`br`.`user_id` = `u`.`user_id`))) join `tool_info` `ti` on((`br`.`tool_id` = `ti`.`tool_id`))) left join `tool_cabinet` `tc` on((`ti`.`cabinet_id` = `tc`.`cabinet_id`))) where (`br`.`status` = 'borrowing') */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_dashboard_stats`
--

/*!50001 DROP VIEW IF EXISTS `v_dashboard_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_dashboard_stats` AS select (select count(0) from `tool_info`) AS `total_tools`,(select coalesce(sum(`tool_info`.`current_qty`),0) from `tool_info` where (`tool_info`.`status` = 'in_stock')) AS `in_stock_qty`,(select count(0) from `tool_borrow_record` where (`tool_borrow_record`.`status` = 'borrowing')) AS `borrowing_count`,(select count(0) from `sys_alert` where (`sys_alert`.`status` = 'unhandled')) AS `unhandled_alerts` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_tool_latest_operation`
--

/*!50001 DROP VIEW IF EXISTS `v_tool_latest_operation`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_tool_latest_operation` AS select `t`.`tool_id` AS `tool_id`,coalesce(`br`.`latest_borrow_time`,'') AS `latest_op_time`,(case when (`br`.`latest_borrow_time` is not null) then 'borrow' else 'checkin' end) AS `latest_op_type`,coalesce((select `u`.`real_name` from (`smart_cabinet`.`tool_borrow_record` `tbr2` left join `smart_cabinet`.`sys_user` `u` on((`u`.`user_id` = `tbr2`.`user_id`))) where ((`tbr2`.`tool_id` = `t`.`tool_id`) and (`tbr2`.`status` in ('borrowing','overdue'))) order by `tbr2`.`borrow_time` desc limit 1),'') AS `latest_op_user` from (`smart_cabinet`.`tool_info` `t` left join (select `smart_cabinet`.`tool_borrow_record`.`tool_id` AS `tool_id`,max(`smart_cabinet`.`tool_borrow_record`.`borrow_time`) AS `latest_borrow_time` from `smart_cabinet`.`tool_borrow_record` where (`smart_cabinet`.`tool_borrow_record`.`status` in ('borrowing','overdue')) group by `smart_cabinet`.`tool_borrow_record`.`tool_id`) `br` on((`t`.`tool_id` = `br`.`tool_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_tool_stats`
--

/*!50001 DROP VIEW IF EXISTS `v_tool_stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_tool_stats` AS select (select count(0) from `tool_info`) AS `total_tools`,(select count(0) from `tool_info` where (`tool_info`.`status` = 'in_stock')) AS `in_stock_count`,(select count(distinct `tool_borrow_record`.`tool_id`) from `tool_borrow_record` where (`tool_borrow_record`.`status` in ('borrowing','overdue'))) AS `borrowed_count`,(select count(0) from `tool_info` where (`tool_info`.`status` = 'maintenance')) AS `maintenance_count`,(select coalesce(sum(`tool_info`.`total_qty`),0) from `tool_info`) AS `total_qty`,(select coalesce(sum(`tool_info`.`current_qty`),0) from `tool_info`) AS `in_stock_qty`,(select coalesce(sum(`tool_borrow_record`.`borrow_qty`),0) from `tool_borrow_record` where (`tool_borrow_record`.`status` in ('borrowing','overdue'))) AS `borrowed_qty` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-24 14:20:28
